<extend name="_Layout/main"/>

<block name="style">
    <style type="text/css">
        .login-box {
            float: none;
            margin: 2% auto;
        }
        .login-box .panel{
            border-color: #eee;
            padding: 20px 20px 0px 20px;
        }
        .login-box .input-group input {
            height: 40px;
        }
        .login-box .input-group-addon .fa {
            width: 18px;
        }
        .login-box .verifyimg-box {
            padding: 0px;
        }
        .login-box .verifyimg-box .verifyimg {
            width: 138px;
            height: 38px;
            cursor: pointer;
            border-radius: 4px;
        }
    </style>
</block>

<block name="breadcrumb"></block>

<block name="main">
    <div class="container">
        <div class="col-xs-12 col-md-5 login-box">
			<div class="panel panel-default">
				<h3 class="text-center">{$meta_title}</h3>
				<div class="panel-body">
					<form class="login-form" action="{:U('User/login')}" method="post">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" placeholder="邮箱/手机号/用户名" name="username">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key"></i></span>
								<input type="password" class="form-control" placeholder="请输入密码" name="password">
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="checkbox-inline" for="remember-login">
								<input id="remember-login" type="checkbox" name="remember_login" checked="checked">
								<span>保持登录</span>
							</label>
							<a class="text-muted pull-right" href="{:U('User/resetPassword')}">忘记密码？</a>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block submit ajax-post" target-form="login-form">登录</button>
						</div>
						<div class="form-group">
							{:hook('SyncLogin')} <!-- 第三方登陆钩子 -->
						</div>
						<div class="form-group text-center">
							<a class="text-muted" href="{:U('User/register')}">没有帐号，极速注册</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="footer">
    <div class="text-muted text-center">
        <span>Copyright © <a href="{:C('WEBSITE_DOMAIN')}" target="_blank">{:C('COMPANY_NAME')}</a> All rights reserved.</span>
    </div>
</block>
